/* line 1, ../compass/sass/style.scss */
.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/* line 7, ../compass/sass/style.scss */
#main-photo {
  padding-left: 0px;
  padding-right: 0px;
  background-image: url("../manta_ray1.jpeg");
  background-size: cover;
  height: 600px;
  margin-top: -21px;
}
/* line 14, ../compass/sass/style.scss */
#main-photo h1 {
  margin-top: 300px;
  color: white;
}

/* line 20, ../compass/sass/style.scss */
#nav {
  background-color: black;
  position: relative;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
/* line 27, ../compass/sass/style.scss */
#nav a {
  color: white;
  font-size: 20px;
}
/* line 31, ../compass/sass/style.scss */
#nav #options {
  float: right;
}
/* line 33, ../compass/sass/style.scss */
#nav #options #welcome {
  margin-top: 11px;
  margin-right: 15px;
}

/* line 40, ../compass/sass/style.scss */
#post-form {
  position: relative;
}
/* line 42, ../compass/sass/style.scss */
#post-form #post-text {
  display: block;
  width: 50%;
}

/* line 48, ../compass/sass/style.scss */
.posts {
  margin: 20px;
  background: #c4c4c4;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 20px;
  min-height: 150px;
}
/* line 55, ../compass/sass/style.scss */
.posts .left-container {
  width: 70%;
  float: left;
  overflow: hidden;
  font-size: 15px;
}
/* line 60, ../compass/sass/style.scss */
.posts .left-container .user {
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-weight: bold;
  float: left;
}
/* line 67, ../compass/sass/style.scss */
.posts .left-container .text {
  margin-bottom: 15px;
  margin-left: 10px;
  clear: left;
  float: left;
}
/* line 73, ../compass/sass/style.scss */
.posts .left-container .date {
  margin-left: 10px;
  clear: left;
  float: left;
}
/* line 80, ../compass/sass/style.scss */
.posts .right-container {
  width: 30%;
  float: left;
  height: 40px;
}
/* line 84, ../compass/sass/style.scss */
.posts .right-container .arrow-up, .posts .right-container .arrow-down, .posts .right-container .vote-count {
  text-align: right;
  margin-right: 40px;
}

/* line 92, ../compass/sass/style.scss */
#thanks {
  background-image: url("../flying_ray1.jpg");
  background-size: 100% 100%;
  height: 500px;
  color: white;
}
